name: CI/CD - Test HTML et Déploiement Runner

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test-html:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Vérification syntaxe HTML
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: .

  deploy-runner:
    needs: test-html
    if: success()

    runs-on:
      - self-hosted
      - linux
      - x64

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Déploiement sur le serveur local
        run: |
          echo "Déploiement en cours sur le runner..."
          sudo cp -r * /var/www/html/
          echo "Déploiement terminé."
